p{
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}
.single{
    line-height: 1;
}
h1, h3{
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 50px;
    height: 50px;
}
.headshot {
    height:100px;
    width:100px;
}
.logobox {
    width: 80%;
    margin:auto;
    display: inline
}
nav{
    position: fixed;
    top: 20;
    right: 5;
}
a{
    margin: auto 20 auto 20;
}
table{
    width: 80%;
    margin: auto;
}
tbody{
    width: 100%;
}
header, .header{
    display: inline;
}
#about{
    position: absolute;
    top: 0px;
    left:auto;
    right: auto;
}
